body {
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  background-color: #fcfcfc;
  overflow-x: hidden;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

:root {
  /* colors */

  --black: #000000;
  --white: #ffffff;
  --primary-main: #0369a1;
  --primary-light: #0ea5e9;
  --primary-dark: #075985;
  --secondary-main: #64748b;
  --secondary-dark: #475569;

  --red: #dc2626;
  --light-red: #ef4444;

  --light-grey: #f1f5f9;
  --light-grey-2: #cbd5e1;
  --light-grey-3: #f8fafc;
  --light-grey-4: #e2e8f0;
  --dark-grey: #64748b;
  --dark-grey-2: #334155;
  --dark-grey-3: #1e293b;

  --warning: #f59e0b;
}
